<article class="archive-article archive-type-<%= post.layout %>" >
  <div class="archive-article-inner"  style="float:left; width:100%;">
    <header class="archive-article-header" style="float:left;">
        <div style="float:left; color:#fff; background-color:#E84C3D; font-size:18px; padding: 20px 10px;">
            <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
        </div>
        <div style="float:right; padding: 20px 10px;">
            <%- partial('post/title', {class_name: 'archive-article-title'}) %>
        </div>
    </header>
  </div>
</article>